body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    padding: 5px 15px;
}

a {
    text-decoration: none;
    color: rgb(203, 243, 255);
}

a:hover {
    color: rgb(0, 195, 255);
}

.nav {
    background-color: rgb(203, 243, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 3px rgb(116, 221, 253);
    position: fixed;
    width: 100%;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 15px;
}

.hamburger {
    display: none;
    height: 90px;
}

.logo {
    height: 70px;
    padding: 10px;
}

.button {
    display: block;
    padding: 12px 10px;
    margin: 10px 0;
}

.button:hover {
    background-color: rgb(47, 47, 255);
    color: white;
    cursor: pointer;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url(https://cdn.pixabay.com/photo/2015/05/30/19/53/playing-puppies-790638_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    background-color: rgb(203, 243, 255);
    gap: 50px;
    padding: 50px 300px;
}

.grid-item {
    box-shadow: 5px 5px 5px rgb(116, 221, 253);
}

.grid-image {
    height: 380px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.grid-info {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0 0 10px 10px;
    height: fit-content;
    margin: 0;
}

.name {
    font-size: 36px;
}

.age, .breed {
    font-size: 20px;
    padding: 5px 0;
}

.address {
    font-size: 20px;
    padding: 10px 0;
    color: rgb(112, 112, 112);
}

footer {
    background-color: rgb(37, 37, 37);
    color: white;
}

.foot-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 20%;
    justify-items: center;
    border-bottom: solid 2px black;
    color: rgb(104, 169, 253);
}

.foot-title {
    font-size: 20px;
    margin: 15px 0;
    border-bottom: solid 1px rgb(104, 169, 253);
}

.foot-grid-item {
    font-size: 16px;
    text-align: center;
}

.foot-grid-item li {
    padding: 10px 0;
}

.trademark {
    margin: 0 20%;
    text-align: center;
    font-size: 14px;
    color: rgb(155, 155, 155);
    padding: 10px;
}

.popup {
    display: none;
    position: fixed;
    background-color: rgb(37, 37, 37);
    z-index: 99;
    top: 60px;
    border: solid 1px black;
    font-size: 20px;
}

.popup-list li {
    padding: 10px;
    border-bottom: solid 1px rgb(116, 221, 253);
}

.popup#menu-1 {
    right: 525px;
}

.popup#menu-2 {
    right: 505px;
}

.popup#menu-3 {
    right: 325px;
}

.popup#menu-4 {
    right: 195px;
}

.page2 {
    background-color: rgb(203, 243, 255);
}

.par1 {
    display: flex;
    flex-direction: row;
    padding: 30px 30px 30px 200px;
    gap: 200px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(116, 221, 253);
}

.par-img {
    height: 700px;
    border-radius: 10px;
}

.par2 {
    display: flex;
    flex-direction: row;
    padding: 30px 200px 30px 30px;
    gap: 200px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(116, 221, 253);
}

.invisible {
    color: rgb(203, 243, 255);
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(1, 9fr);
        padding: 50px;
    }

    .nav-links {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .foot-grid {
        margin: 0 10%;
    }

    .par1, .par2 {
        margin: 10px;
        gap: 10px;
        padding: 10px;
        font-size: 16px;
    }

    .par-img {
        height: 300px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(2, 5fr);
        padding: 50px;
    }

    .nav-links {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .par1, .par2 {
        margin: 50px;
        gap: 30px;
        padding: 30px;
        font-size: 18px;
    }

    .par-img {
        height: 500px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1920px) {
    .grid {
        padding: 50px;
    }

    .par1, .par2 {
        margin: 50px;
    }
}