body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    padding: 5px 15px;
}

a {
    text-decoration: none;
}

.nav {
    background-color: rgb(203, 243, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 3px rgb(116, 221, 253);
    position: fixed;
    width: 100%;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 10px;
}

.logo {
    height: 70px;
    padding: 10px;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url(https://cdn.pixabay.com/photo/2015/05/30/19/53/playing-puppies-790638_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    background-color: rgb(203, 243, 255);
    gap: 50px;
    padding: 50px;
}

.grid-image {
    height: 380px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.grid-info {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0 0 10px 10px;
    height: fit-content;
    margin: 0;
}

.name {
    font-size: 36px;
}

.age, .breed {
    font-size: 20px;
    padding: 5px 0;
}

.address {
    font-size: 20px;
    padding: 10px 0;
    color: rgb(112, 112, 112);
}

footer {
    background-color: rgb(37, 37, 37);
    color: white;
}

.foot-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 20%;
    justify-items: center;
    border-bottom: solid 2px black;
    color: rgb(104, 169, 253);
}

.foot-title {
    font-size: 20px;
    margin: 15px 0;
    border-bottom: solid 1px rgb(104, 169, 253);
}

.foot-grid-item {
    font-size: 16px;
    text-align: center;
}

.foot-grid-item li {
    padding: 10px 0;
}

.trademark {
    margin: 0 20%;
    text-align: center;
    font-size: 14px;
    color: rgb(155, 155, 155);
    padding: 10px;
}

.popup {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 99;
}

.popup#menu-1 {
  left: 190px;
}

.popup#menu-2 {
  left: 190px;
}

.popup#menu-3 {
  left: 190px;
}

.popup#menu-4 {
  left: 190px;
}

.dropdown-menu#menu-2 {
  left: 290px;
  min-width: 400px;
}

.dropdown-menu#menu-3 {
  left: 390px;
  min-width: 400px;
}
